<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <h2>GREEN.HARVEST</h2>
      <p>
        Whether you're looking for a healthy snack or a thoughtful gift, our
        fruit baskets are the perfect choice.
      </p>
    </div>
    <div class="footer-block">
      <div class="footer-right">
        <ul>
          <li><a href="#how-it-works">how it works</a></li>
          <li><a href="#vegetables">vegetables</a></li>
          <li><a href="#reviews">reviews</a></li>
        </ul>
      </div>
      <div class="contact-footer">
        <address class="footer-contact">
          <p><a href="tel:+380684439426">+380 (68) 443-94-26</a></p>
          <p>
            1678 S. Pioneer Road<br />
            Salt Lake City, UT 84104
          </p>
        </address>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <a href="#">Privacy Policy</a> / <a href="#">Cookie settings</a>
    <p>Green Harvest 2023</p>
  </div>
</footer>
