<section class="section-vegetables">
  <div class="container">
    <h2 class="header-vegetables">
      Organic <span class="span-vegetables">Vegetables</span>
    </h2>
    <p class="description-vegetables">
      Our organic vegetables are hand-picked from local farms and delivered
      straight to your doorstep, ensuring that you get the freshest and most
      nutritious produce possible.
    </p>
    <ul class="card-list-vegetables">
      <li class="card-vegetables">
        <p class="card-vegetables-name">eggplant</p>
        <p class="card-vegetable-description">60 USD / kg</p>

        <img
          src="/img/vegetables/eggplant.jpg"
          srcset="/img/vegetables/eggplant@2x.jpg 2x"
          alt="eggplant"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <p class="card-vegetables-name">leek</p>
        <p class="card-vegetable-description">50 USD / kg</p>

        <img
          src="/img/vegetables/leek.jpg"
          srcset="/img/vegetables/leek@2x.jpg 2x"
          alt="leek"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <p class="card-vegetables-name">mushrooms</p>
        <p class="card-vegetable-description">40 USD / kg</p>

        <img
          src="/img/vegetables/mushrooms.jpg"
          srcset="/img/vegetables/mushrooms@2x.jpg 2x"
          alt="mushrooms"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <p class="card-vegetables-name">corn</p>
        <p class="card-vegetable-description">60 USD / kg</p>

        <img
          src="/img/vegetables/corn.jpg"
          srcset="/img/vegetables/corn@2x.jpg 2x"
          alt="corn"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <p class="card-vegetables-name">sweet potatoes</p>
        <p class="card-vegetable-description">50 USD / kg</p>

        <img
          src="/img/vegetables/sweet-potatoes.jpg"
          srcset="/img/vegetables/sweet-potatoes@2x.jpg 2x"
          alt="sweet-potatoes"
          width="282"
          height="243"
        />
      </li>

      <li class="card-vegetables">
        <p class="card-vegetables-name">carrot</p>
        <p class="card-vegetable-description">40 USD / kg</p>

        <img
          src="/img/vegetables/carrot.jpg"
          srcset="/img/vegetables/carrot@2x.jpg 2x"
          alt="carrot"
          width="282"
          height="243"
        />
      </li>
    </ul>
  </div>
</section>
