<section class="your-order-section">
    <div class="container">
        <div class="your-order-text-block">
            <h2 class="your-order-text-block-header">Fresh<span class="your-order-text-block-highlight"> Harvest </span>Box has got you covered</h2>
            <p class="your-order-text-block-paragraph">Our boxes are packed with delicious, nutritious vegetables, perfect for anyone looking to eat healthier or support local farmers. Order your box today and start enjoying the best that nature has to offer!</p>
        </div>

        <div class="your-order-form-link-block">
            <div class="your-order-orderform-block">
                <h3 class="your-order-orderform-block-header">ORDERING <span class="your-order-orderform-block-highlight">FROM US</span> IS QUICK AND EASY! FILL OUT <span class="your-order-orderform-block-highlight-second">THE FORM</span> BELOW AND WE WILL CONTACT YOU!</h3>
                <form class="your-order-orderform-block-form">
                    <input type="text" name="name" placeholder="Full Name" required pattern="[A-Za-z ]+" >
                    <input  type="email" name="email" placeholder="Email" required pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
                    <textarea  name="comment" placeholder="Comment" type="submit"></textarea>
                    <button type="submit" class="your-order-orderform-block-form-button">SEND</button>
                </form>
            </div>

            <div class="your-order-linkform-block">
                <img 
                    src="./img/your-order-images/your-order-desktop.webp" 
                    srcset="
                        ./img/your-order-images/your-order-mobile.webp 295w, 
                        ./img/your-order-images/your-order-mobile@2x.webp 590w, 
                        ./img/your-order-images/your-order-tablet.webp 427w, 
                        ./img/your-order-images/your-order-tablet@2x.webp 854w, 
                        ./img/your-order-images/your-order-desktop.webp 528w, 
                        ./img/your-order-images/your-order-desktop@2x.webp 1056w"
                        sizes="(max-width: 767px) 295px,(max-width: 1199px) 427px, 528px"
                        alt="Juice preparation"
                    class="your-order-linkform-block-image"
                />
                <p class="your-order-linkform-block-paragraph">Follow us on our social networks:</p>
                <ul class="your-order-linkform-block-list">
                    <li><a href="https://www.instagram.com/goitclub/" target="_blank">instagram</a></li>
                    <li><a href="https://www.facebook.com/goITclub/" target="_blank">facebook</a></li>
                    <li><a href="https://www.youtube.com/c/GoIT" target="_blank">youtube</a></li>
                </ul>
            </div>
        </div>
</section>
