/* Hero section */

.hero-section {
  /* background-color: #576f35; */

  padding-top: 100px;
  padding-bottom: 0;
}

.hero-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  /* color: #fbfbfb; */
  margin-bottom: 20px;
}

.hero-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  /* color: #fbfbfb; */
  margin-bottom: 40px;
}

.hero-box-background {
  width: 100%;
  max-width: 375px;
  height: 370px;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.2),
      rgba(20, 20, 20, 0.2)
    ),
    url(/img/hero/hero-mobile.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position: center; */
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-resolution: 192dpi) {
  .hero-box-background {
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/hero/hero-mobile@2x.jpg);
  }
}

/* --TABLET-- */
@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 122px;
  }

  .hero-title {
    font-size: 76px;
    margin-bottom: 25px;
  }

  .hero-text {
    width: 603px;
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 50px;
  }

  .hero-box-background {
    max-width: 768px;
    height: 539px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/hero/hero-tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-box-background {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(/img/hero/hero-desctop@2x.jpg);
    }
  }
}
/* --/TABLET-- */
/* --DESKTOP-- */
@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 0;
    /* padding-bottom: 0px; */
    display: flex;
    justify-content: space-between;
  }

  .container {
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }

  /* .hero-container {
    display: flex;
  } */

  /* .hero-wrapper {
    width: 502px;
  } */

  .hero-title {
    width: 502px;
    padding-top: 238px;
    margin-bottom: 128px;
  }

  .hero-text {
    width: 472px;
    /* margin-bottom: 50px; */
  }

  .hero-box-background {
    max-width: 650px;
    height: 800px;
    background-image: linear-gradient(
        rgba(20, 20, 20, 0.2),
        rgba(20, 20, 20, 0.2)
      ),
      url(/img/hero/hero-desctop.jpg);
    justify-content: space-around;
    margin-left: 0;
    margin-right: 0;
  }

  @media screen and (min-resolution: 192dpi) {
    .hero-box-background {
      background-image: linear-gradient(
          rgba(20, 20, 20, 0.2),
          rgba(20, 20, 20, 0.2)
        ),
        url(/img/hero/hero-desctop@2x.jpg);
    }
  }
}
/* --/DESKTOP-- */
