/* Styles for Mobile devices */

.container {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 20px;
}

.section-vegetables {
  background: #7a3145;
}

.header-vegetables {
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #fbfbfb;
}

.span-vegetables {
  color: rgba(251, 251, 251, 0.3);
}

.description-vegetables {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: #fbfbfb;
  margin-top: 20px;
  margin-bottom: 40px;
}

.card-list-vegetables {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card-vegetables {
  border-radius: 40px;
  padding: 32px 26px;
  width: 334px;
  height: 379px;
  background: #fbfbfb;
}

.card-vegetables-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #7a3145;
}

.card-vegetable-description {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
  margin-top: 12px;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .section-vegetable {
    padding: 100px 32px;
  }

  .header-vegetables {
    font-weight: 600;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #fbfbfb;
    display: flex;
    flex-direction: column;
  }

  .description-vegetables {
    font-size: 16px;
    width: 626px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .card-list-vegetables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 28px;
    column-gap: 20px;
  }

  .card-vegetables {
    padding: 32px 30px;
    width: 342px;
    height: 379px;
  }

  .card-vegetables-name {
    font-size: 32px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 100px;
  }

  .description-vegetables {
    margin-bottom: 50px;
    margin-top: 25px;
  }

  .card-list-vegetables {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 28px;
  }

  .card-vegetables {
    padding: 32px;
    width: 346px;
    height: 379px;
  }
}
